<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
  
    <title>Analisis 2 || Grupo 6</title>
  
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/">Registrar Usuario <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/ver">Ver Usuarios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">Acerca De</a>
          </li>
        </ul>
      </div>
    </nav> 
    <!-- Page Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center main mt-5">
          <h1 class="mt-5">Analisis y Diseño de Sistemas 2</h1>
          <h2 class="mt-3">Grupo #6</h2>
        </div>
      </div>
    </div>

  </body>
</html>